a:hover,a:focus{
	outline: none;
	text-decoration: none;
}
.tab .nav-tabs{
	background: transparent;
	border-bottom:0px;
}
.tab .nav-tabs li{
	text-align: center;
	margin-right: 8px;
}
.tab .nav-tabs li a{
	font-size: 21px;
	font-weight: 400;
	color: #000;
	padding: 10px 22px;
	background: #f7f7f7;
	margin-right: 0;
	border-radius: 0;
	border: none;
	position: relative;
	transition: all 0.5s ease 0s;
	text-shadow: none;
	outline: none;
	box-shadow: 0 0 25px rgba(0,0,0,.1);
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover{
	background: #ce232a;
	color: #fff;
	border: none;
}
.tab .tab-content{
	font-size: 15px;
	color: #3d3537;
	line-height: 30px;
	padding: 30px 40px;
   background:#fff;
   margin-top:10px;
   box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.tab .tab-content h3{
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
}
@media only screen and (max-width: 480px){
	.tab .nav-tabs li{ width: 100%; }
}
.nick-wp-panel{
	overflow:hidden;
	display:block;
	width:100%;
	padding-top:40px;
	padding-left:10px;
	padding-right:20px;
	padding-bottom: 20px;
}
.radio-span{
	border-bottom: 2px dashed #eae8e8;
}
.form-table th{
	vertical-align: top;
    text-align: left;
    padding: 20px 9px 5px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
    font-size: 22px;
    color: #575353;
    font-weight: 600;
}
.nick-csw-admin-img{
	width:100px;
	height:100px;
	display:block;
	margin-bottom:10px;
	border:10px solid #f2f2f2;
}
 input[type=text].pro_text,  input[type=url].pro_text,  input[type=email].pro_text{
		width: 70%;
		margin-bottom: 10px;
		margin-right: 10px;
		padding: 10px;
		display: block;
		border-radius: 0px;
}
textarea.pro_text{
	resize: vertical;
	width: 85%;
	border-radius: 0px;
}

.range-slider-font{
	background-color: #f7fcff !important;
    border-radius: 5px !important;
    font-size: 0.9em !important;
    height: 29px !important;
    padding-top: 4px !important;
    text-align: center !important;
    width: 55px !important;
    margin-left: 25px !important;
    border-color: #ffffff !important;
    margin-right: 5px !important;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15) !important;
}

.text-and-color-panel .ui-state-default, .text-and-color-panel  .ui-widget-content .ui-state-default{
		background-color: #fff;
		border: 0px solid #c5dbec;
		border-radius: 100%;
		cursor: move;
		height: 30px;
		left: 0;
		top: -9px;
		position: absolute;
		width: 30px;
		-webkit-box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
		box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
	}
	
	.text-and-color-panel  .ui-state-default, .ui-widget-header .ui-state-default {
		border: 1px solid #c5dbec;
		background: transparent;
		font-weight: bold;
		color: #2e6e9e;
	}
	.ui-slider-horizontal {
		height: .8em;
	}
	.ui-widget-content {
		border: 0px solid #a6c9e2; 
		background: #a9acb1;
		color: #222222;
	}
   	.ui-widget-header {
		border: 0px solid #7696D0;
		background: #7696D0;
		color: #ffffff;
		font-weight: bold;
	}
.wp-color-result{
height:24px !important;
}	


/* The CSS */
.nick-standard-dropdown {
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	width:180px;
	line-height:21px !important;
	padding-left:5px !important;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

.nick-dropdown {position:relative}
.nick-dropdown:after {
    content: '<>';
    font: 18px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}
.nick-dropdown:before {
        content: '';
    right: 6px;
    top: 0px;
    width: 28px;
    height: 21px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
}

.portfolio_read_more_btn {
    border: 1px solid #fa5e64;
    border-radius: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 12px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    text-decoration: none !important;
    color: #fff !important;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background: #fa5e64;
    padding-left: 22px;
    padding-right: 22px;
}
.portfolio_demo_btn {
    border: 1px solid #6E6E6F;
    border-radius: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 12px 12px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    text-decoration: none !important;
    background-color: #6E6E6F;
    border-color: #6E6E6F;
    color: #fff !important;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    padding-left: 22px;
    padding-right: 22px;
}

.nick_cs_loding {
  background:  url("./images/loading.gif") no-repeat;
  display: none;
  font-size: 20px;
  height: 100%;
  left: 30%;
  padding: 23px 6px 10px 52px;
  position: fixed;
  text-align: center;
  top: 25%;
  vertical-align: middle;
  width: 100%;
  z-index: 9999;
  
}

/* Accordion css */
a:hover,a:focus{
    text-decoration: none;
    outline: 0;
}
#accordion .panel{
    border: none;
    box-shadow: none;
    margin-bottom: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,.2);
    color: black;
    border-radius: 20px;
}

#accordion .panel-heading{
    padding: 0;
    border: none;
    background: transparent;
}
#accordion .panel-title a{
    display: block;
    padding: 14px 50px 14px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #a568c8;
    position: relative;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
}
#accordion .panel-title a.collapsed{
    border-radius: 20px;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before{
    content: "\f106";
    font-family: fontawesome;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 30px;
}
#accordion .panel-title a.collapsed:before{
    content: "\f107";
}
#accordion .panel-body{
    font-size: 14px;
    color: #555;
    line-height: 25px;
    padding: 20px 25px;
    position: relative;
    border: none;
	    background: #fff;
}
.panel{
    background:transparent !important;
}
.panel-body{
	margin-bottom:15px;
	
}
.csnick_sidebar .panel-default{
	    box-shadow: 0 0 20px rgba(0,0,0,.2) !important;
}
.csnick_sidebar {
padding-top: 40px;
}
.csnick_sidebar .panel-default > .panel-heading{
	    color: #fff;
    background-color: #4b4c50;
    border-bottom: 0px;
    border-color: #eeeeee;
}
.csnick_sidebar .panel-title{
	    font-size: 20px;
		font-weight:600;
}
.preview-button{
	    padding: 22px 22px;
		width:100%;
		text-transform:none;
		font-size:23px;
		text-align:center;
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
position: absolute;
    display: block;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    /* border-radius: 3px 0 0 3px; */
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content: '\2714';
    text-indent: .9em;
    color: #fff;
    background-color: #039c2a;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #fff;
	background-color: #039c2a;
}

input.radio:checked ~ label {
	color: #777;
}
.radio-div{
overflow: hidden;
display: block;
}

tab .nav-tabs{
    border-bottom: 0 none;
}
.tab .nav-tabs li{
    margin-right: 2px;
    position: relative;
}
.tab .nav-tabs li a{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}
.tab .nav-tabs li a i{
    font-size:20x;
    margin-right:10px;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    background: #fa5e64;
    color:#fff;
    transition:background 0.20s linear;
}
.tab .nav-tabs li.active:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 37%;
    border: 15px solid transparent;
    border-bottom-color: #fa5e64;
}
.tab .nav-tabs li.active a:after{
    content: "";
    position: absolute;
    top: 5px;
    left: 4%;
    width: 92%;
    height:82%;
    border: 3px solid #fff;
    display: block;
}
.tab .tab-content{
    background: #fdfdfd;
    line-height: 25px;
    padding:20px 25px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-top:5px solid #fa5e64;
    border-bottom:5px solid #fa5e64;
}
@media only screen and (max-width: 480px){
    .tab .nav-tabs li{
        width:100%;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li a{
        padding: 20px;
    }
    .tab .nav-tabs li.active:after {
        border:none;
    }
    .tab .nav-tabs li.active a:after{
        width:97%;
        left:1.5%;
    }
    .tab .tab-content{
        margin-top: 5px;
    }
}
